.calendar {
    width: 320px;
    padding: 10px 20px;
  
    &__container {
      &__title {
        display: inline-block;
        font-size: 32px;
        font-weight: bold;
        position: relative;
        text-transform: capitalize;
        font-style: italic;
        margin: 10px auto 25px;

        &__date {
            font-weight: normal;
            position: absolute;
            top: 50%;
            right: -80px;
            transform: translateY(-50);
            font-size: 12px;
        }
  
        &--lundi {
          &::after {
            content: '';
            border-top: 7px solid transparent;
            border-left: 136px solid #ef8b69;
            border-bottom: 1px solid transparent;
            border-radius: 1px;
            height: 44px;
            position: absolute;
            top: -9px;
            left: -17px;
            z-index: -1;
            transform: rotate(2deg);
          }
        }
  
        &--mardi {
          &::after {
            content: '';
            border-top: 9px solid transparent;
            border-left: 130px solid #8abee3;
            border-bottom: 5px solid transparent;
            border-radius: 1px;
            height: 38px;
            position: absolute;
            top: -9px;
            left: -12px;
            z-index: -1;
          }
        }
  
        &--mercredi {
          &::after {
            content: '';
            border-top: 7px solid transparent;
            border-right: 190px solid #f1a2c3;
            border-bottom: 3px solid transparent;
            border-radius: 1px;
            height: 46px;
            position: absolute;
            top: -11px;
            left: -18px;
            z-index: -1;
          }
        }
  
        &--jeudi {
          &::after {
            content: '';
            border-top: 7px solid transparent;
            border-left: 134px solid #7eb893;
            border-bottom: 3px solid transparent;
            border-radius: 1px;
            height: 41px;
            position: absolute;
            top: -9px;
            left: -17px;
            z-index: -1;
          }
        }
  
        &--vendredi {
          &::after {
            content: '';
            border-top: 7px solid transparent;
            border-left: 186px solid #e4c883;
            border-bottom: 1px solid transparent;
            border-radius: 1px;
            height: 50px;
            position: absolute;
            top: -12px;
            left: -17px;
            z-index: -1;
            transform: rotate(2deg);
          }
        }
      }
  
      &__sub-title {
        height: 35px;
        font-weight: bold;
        font-style: italic;
        font-size: 16px;
        margin: 0 auto 10px;
      }
  
      &__buttons {
        display: flex;
        justify-content: space-between;
        margin: 10px auto;
  
        button {
          background-color: #fff;
          border: 1px solid #eee;
          border-radius: 4px;
          padding: 1px 8px;
          cursor: pointer;
          box-shadow: 0 1px 2px rgba(220, 220, 220, 0.4);
          transition: all 0.3s ease;
  
          &:hover {
            box-shadow: 0 2px 2px rgba(200, 200, 200, 0.6);
          }
  
          &:active {
            border: 1px solid #ccc;
            box-shadow: 0 2px 2px rgba(200, 200, 200, 0.6);
          }
  
          &:disabled {
            visibility: hidden;
            cursor: not-allowed;
            box-shadow: none;
          }
        }
      }
    }
  
    &__entry {
      display: flex;
      padding: 8px 0;
      border-top: 1px solid rgba(150, 150, 150, 0.3);
  
      &--list {
        padding: 2px 0;
      }
  
      &__hour {
        padding: 0 10px 0 0;
  
        p {
          font-weight: bold;
          text-align: right;
          margin: 0 auto 5px;
  
          &:nth-of-type(2) {
            font-size: 12px;
          }
        }
      }
  
      &__location {
        p {
          font-style: italic;
          margin: 0 auto 5px;
        }
      }
    }
  }
  